
/* Estilo para el contenedor de productos */
#items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilo para las tarjetas de los productos */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Estilo para las imágenes de los productos */
.card img {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin perder su proporción */
    margin-bottom: 10px;
}

/* Estilo para los botones */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: auto; /* Alinea el botón al final de la tarjeta */
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

/* Estilo para el carrito */
#carrito {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* Estilos existentes */
/* Estilos existentes */
body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #007bff;
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

/* Nuevos estilos para los botones de login y registro */
nav a.login-button,
nav a.register-button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a.login-button:hover,
nav a.register-button:hover {
    background-color: #0056b3;
}

